.feynman__link {
    margin: 0;
    line-height: 51px;
    font-size: 36px;
    font-weight: normal;
    box-sizing: border-box;
    position: absolute;
    right: 48px;
    top: 50%;
    text-decoration: none;
    color: #2f80ed;
  }

.feynman__link:hover {
  transition: opasity 1s linear;
  opacity: 0.5;
}