.khan__container {
    margin-top: 105px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 0;
    display: flex;
    flex-direction: column;
    width: 80%;
    border: 1px solid red;
}