@font-face {
    font-family: 'Helvetica Neue';
    src: url('../fonts/HelveticaNeueBlackCondensed.woff2') format('woff2'),
        url('../fonts/HelveticaNeueBlackCondensed.woff') format('woff');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Microsoft Sans Serif';
    src: url('../fonts/MicrosoftSansSerif.woff2') format('woff2'),
        url('../fonts/MicrosoftSansSerif.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Arial';
    src: url('../fonts/ArialMT.woff2') format('woff2'),
        url('../fonts/ArialMT.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

