.khan__buy-link {
    text-decoration: none;
    line-height: 42px;
    font-size: 30px;
    font-weight: normal;
    color: #2f80ed;
    transition: opa—Åity 1s linear;
}

.khan__buy-link:hover {
    opacity: 0.5;
  }